@media screen and (max-width: 768px) {
    .service {
      width: 90%; /* Adjust for smaller screens */
      margin-right: 0;
      margin-bottom: 20px;
    }
  }



.services {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .service {
    width: calc(50% - 20px); /* Adjust as necessary for responsiveness */
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
  }
  
  .service:nth-child(odd) {
    margin-right: 20px;
  }
  
  .service h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .service p {
    font-size: 16px;
    line-height: 1.5;
  }